<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}"
>

<th:block layout:fragment="content">
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
      For more information about DataTables, please visit the <a target="_blank"
                                                                 href="https://datatables.net">official DataTables documentation</a>.</p>

    <form action="/api/v1/orders/readOrders" method="post" enctype="multipart/form-data">
      <div style="display: flex;">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">엑셀업로드</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" name="excelFile">
            <label class="custom-file-label" for="inputGroupFile01">찾아보기</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">업로드</button>
      </div>
    </form>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">주문 합치기</h6>
        <a href="#" onclick="document.forms['excelDownload'].submit()" class="btn btn-dark">엑셀 다운로드</a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <form id="excelDownload" action="/api/v1/orders/excelDownload" method="POST" enctype="multipart/form-data">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>상품명</th>
                <th>옵션</th>
                <th>수량</th>
              </tr>
              </thead>
              <tbody>
                <tr th:each="order : ${orders}">
                  <td th:name="name" th:text="${order.getProductName()}"></td>
                  <td th:name="option" th:text="${order.getOption()}"></td>
                  <td th:name="quantity" th:text="${order.getQuantity()}"></td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>

  </div>
  <script th:inline="javascript">
    const excelDownload = async () => {
      document.getElementById("excelDownload").addEventListener("sub")
      // const response = await fetch("/api/v1/orders/organize/download", {
      //   method: "POST", // *GET, POST, PUT, DELETE 등
      //   headers: {
      //     "Content-Type": "application/json",
      //   },
      //   body: JSON.stringify([[${orders}]]), // body의 데이터 유형은 반드시 "Content-Type" 헤더와 일치해야 함
      // });
    }

    $('#dataTable').dataTable();
  </script>
</th:block>
</html>