<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">재고관리 <sup>v1</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/api/v1/dashboard}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            상품
        </div>

        <!-- Nav Item - Utilities Collapse Menu-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="true" aria-controls="collapseProducts">
                <i class="fas fa-fw fa-wrench"></i>
                <span>판매 상품 관리</span>
            </a>
            <div id="collapseProducts" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">판매 상품 관리:</h6>
                    <a class="collapse-item" th:href="@{/api/v1/products}">판매 상품 목록</a>
                    <a class="collapse-item" th:href="@{/api/v1/products/bulkSave}">상품 엑셀 등록</a>
                    <a class="collapse-item" th:href="@{/api/v1/products/save}">상품 등록</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu-->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRetail" aria-expanded="true" aria-controls="collapseRetail">
                <i class="fas fa-fw fa-wrench"></i>
                <span>도매 상품 관리</span>
            </a>
            <div id="collapseRetail" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">도매 상품 관리:</h6>
                    <a class="collapse-item" th:href="@{/api/v1/retails}">도매 상품 목록</a>
                    <a class="collapse-item" th:href="@{/api/v1/retails/bulkSave}">도매 상품 엑셀 등록</a>
                    <a class="collapse-item" th:href="@{/api/v1/retails/save}">도매 상품 등록</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
<!--        <div class="sidebar-heading">-->
<!--            Addons-->
<!--        </div>-->

        <!-- Nav Item - Pages Collapse Menu -->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"-->
<!--               aria-expanded="true" aria-controls="collapsePages">-->
<!--                <i class="fas fa-fw fa-folder"></i>-->
<!--                <span>Pages</span>-->
<!--            </a>-->
<!--            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">-->
<!--                <div class="bg-white py-2 collapse-inner rounded">-->
<!--                    <h6 class="collapse-header">Login Screens:</h6>-->
<!--                    <a class="collapse-item" href="login.html">Login</a>-->
<!--                    <a class="collapse-item" href="register.html">Register</a>-->
<!--                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>-->
<!--                    <div class="collapse-divider"></div>-->
<!--                    <h6 class="collapse-header">Other Pages:</h6>-->
<!--                    <a class="collapse-item" href="404.html">404 Page</a>-->
<!--                    <a class="collapse-item" href="blank.html">Blank Page</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->

        <!-- Nav Item - Charts -->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="charts.html">-->
<!--                <i class="fas fa-fw fa-chart-area"></i>-->
<!--                <span>Charts</span></a>-->
<!--        </li>-->

        <!-- Nav Item - Tables -->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="tables.html">-->
<!--                <i class="fas fa-fw fa-table"></i>-->
<!--                <span>Tables</span></a>-->
<!--        </li>-->

        <!-- Divider -->
<!--        <hr class="sidebar-divider d-none d-md-block">-->

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" th:src="@{/img/undraw_rocket.svg}" alt="...">
<!--            <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>-->
            <a class="btn btn-success btn-sm" href="#">더 많은 기능 이용하기!</a>
        </div>

    </ul>
    <!-- End of Sidebar -->
    <script th:inline="javascript">
        const menu = document.querySelectorAll(".nav-item");
        for (let i = 0; i < menu.length; i++) {
            menu[i].addEventListener("click", () => {
                menu[i].classList.add("active")
            });
        }
    </script>
</th:block>
</html>